body {
  background-color: #f9f9f9;
  padding: 10px;
}

#time_sheet_table tbody tr {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  border-collapse:separate;
  border-radius: 25px;
  overflow: hidden;
}


#time_sheet_table {
  border-collapse:separate;
  border-radius: 25px;
  overflow: hidden;
}
.welcome {
  font-size: 14px;
}
.navbar {
  background-color: #05abd5;

}

.navbar-brand {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  padding-top: 10px;
  text-align: left;
  font-weight: 10px;

}

/*.today {  
  width: 240px; 
  height: 135px; 
  padding: 0.4em; 
  position: relative; 
  border-style: solid;
  border-width: 1px;

}*/
.ui-effects-transfer { 
  border: 2px 
  dotted gray; 
}
    

.btn-default.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-default.raised:active, .btn-group.raised.active {
    background: #33a6cc;
    box-shadow: none;
  /*  margin-bottom: -3px;
    margin-top: 3px;*/
}
.btn-group {
    display: inline;
}
.submit {
  position: relative; 
  top: 55%; 
  right: 20px;  
  display:inline; 
  float:right;
}

.panel {
position: fixed;
top: 40%;
right: 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
width: 330px;
height: auto;
padding: 30px 30px 30px 130px;
filter: alpha(opacity=85);
opacity: .65;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: fixed;
text-decoration: none;
top: 80%; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
display: block;
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 80%; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url(images/minus.png) 85% 55% no-repeat;
}


.ui-sortable-placeholder {
    height: 125px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}


@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}