body {
  background-color: #f9f9f9;
  padding: 20px;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}
#time_sheet_table {
position: relative;

}
ul {
  padding: 10px;
}
a.nav-expander:hover {
  cursor: pointer;
}
 
a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
  right: 20em;
}
.nav-expanded nav {
  right: 0;
}

#time_sheet_table tbody tr {
  cursor: -webkit-grab;
  cursor: -moz-grab;

}

.welcome {
  font-size: 14px;
}
.navbar {
  background-color: #05abd5;
  height: 15%;
}

.navbar-brand {
  font-size: 40px;
  font-family: 'Helvetica', serif;
  padding-top: 10px;
  left: 0;
  font-weight: 10px;

}
/*.btn-group-left {
  float: left;
}
.btn-group {
  display: inline;
}*/
/*.today {  
  width: 240px; 
  height: 135px; 
  padding: 0.4em; 
  position: relative; 
  border-style: solid;
  border-width: 1px;

}*/
.ui-effects-transfer { 
  border: 2px 
  dotted gray; 
}
    

.btn-default.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-default.raised:active, .btn-group.raised.active {
    background: #33a6cc;
    box-shadow: none;
  /*  margin-bottom: -3px;
    margin-top: 3px;*/
}
.submit_date {
    margin-left: 6%;
}

.transition(@property) {
  -webkit-transition: @property;
  transition: @property;
}
.modal-dialog {
  z-index: 1000;
}

#submit_table {
  font-size: 14px;
}

.insufficient_entry {
  background-color: #febc26;
}

.ui-sortable-placeholder {
    height: 125px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
.event_table {
  text-align: center;
}
/*
off-canvas*/
nav {
  background: #fee602;
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
}
.frame {
    height: 70px;
    width: 35px;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    max-height: 70px;
    max-width: 35px;
}

hr {
  border: none;
  height: 2px;
  position: relative;
  /* Set the hr color */
  color: #dddddd; /* old IE */
  background-color: #dddddd; /* Modern Browsers */
  bottom: 15px;
}
transition: right 0.3s ease-in-out 0s;
-webkit-transition: right 0.3s ease-in-out 0s;
-moz-transition: right 0.3s ease-in-out 0s;
-o-transition: right 0.3s ease-in-out 0s;

.nav-expanded nav {
  position:relative;
  right: 0;
}
.shrink {
  width: 80%;
}
.panel-body {
  position: relative;
}

.panel-body .addallbtn {
  background-color: #ff6600;
  position: fixed;
  right:0;
  bottom:0;
  display: none;
}

.navshrink {
  padding-right: 300px;
}
#donut {
  position: fixed;
  top: 10%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 
}

.addRowFromCalendar {
  border: #dddddd solid;
  height: 98px;
  width: 98%;
  text-align: center;
}

/*svg {
  margin-right: 500px;
}*/

.event_div {
  width: 200px;
  background-color: #05abd5;
  border: solid blue 3px;
  border-radius: 2px;
  min-height: 80px;
  position: relative;
}
.event_div button {
  position: absolute;
  right:0;
  bottom:0;
}

.event_div .description {
  overflow:hidden;
  position: relative;
}
body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}


#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-right: 10px;

}
.pie-graph-big-circle{ 
  fill:  #676767
}

.pie-graph-small-circle{ 
  fill: #D6E3E3
}
/*end of off canvas*/

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}