body {
  background-color: #f9f9f9;
  padding: 10px;
}

#time_sheet_table tbody tr {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.welcome {
  font-size: 14px;
}
.navbar {
  background-color: #05abd5;

}

.navbar-brand {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  padding-top: 10px;
  text-align: left;
  font-weight: 10px;

}

/*.today {  
  width: 240px; 
  height: 135px; 
  padding: 0.4em; 
  position: relative; 
  border-style: solid;
  border-width: 1px;

}*/
.ui-effects-transfer { 
  border: 2px 
  dotted gray; 
}
    

.btn-default.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-default.raised:active, .btn-group.raised.active {
    background: #33a6cc;
    box-shadow: none;
  /*  margin-bottom: -3px;
    margin-top: 3px;*/
}
.btn-group {
    display: inline;
}
.submit {
  position: fixed; 
  bottom: 0; 
  right: 0px;  
  display:inline; 
  float:right;
}

.panel {
position: relative;
top: 0%;
right: 0;
display: none;
z-index: auto;
z-index: 1;
background: #FFB100;
border:1px solid #111111;
overflow: scroll;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
width: 100%;
height: auto;
padding: 30px 30px 30px 30px;
filter: alpha(opacity=85);
opacity: .85;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: black;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: fixed;
text-decoration: none;
top: 90%; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 15px 30px 15px 10px;
font-weight: 700;
background:#395CDE 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
display: block;
}

a.trigger:hover{
text-decoration: none;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#395CDE  85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 20px;
-webkit-border-top-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
display: block;
}

a.active.trigger {
background:#395CDE 85% 55% no-repeat;
}


.ui-sortable-placeholder {
    height: 125px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
.columns{
clear: both;
width: 250px;
padding: 0 0 20px 0;
line-height: 22px;
}

.colleft{
float: left;
width: 230px;
line-height: 22px;
}

.colright{
float: right;
width: 130px;
line-height: 22px;
}

ul{
padding: 0;
margin: 0;
list-style-type: none;
}

ul li{
padding: 0;
margin: 0;
list-style-type: none;
}


@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}