<!DOCTYPE html>
<html lang="en">
<head>
  <title>CGTap</title>
  <link rel="stylesheet" href= "bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href='style/main.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
  <link rel="stylesheet" href="/navgoco/src/jquery.navgoco.css" type="text/css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  <script src="sweetalert-master/dist/sweetalert.min.js"></script>
  <script src="bootstrap-select/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="navgoco/src/jquery.cookie.js"></script>
    <!-- Load jquery.navgoco plugin js and css files -->
  <script type="text/javascript" src="navgoco/src/jquery.navgoco.js"></script>
  <script src='d3/d3.js'></script>
  <script src='d3/d3.min.js'></script>
  
  <script>
    var master_email = "<%= @email %>";
    var event_json = <%= @json %>;
  </script>
  <script src="./script/Objects.js"></script>
  <script src="./script/Setup.js"></script>
  <script src="./script/UserInterface.js"></script>
  <script src="./script/Submit.js"></script>
  <script src="./script/Main.js"></script>
  <script type="text/javascript">
$(document).ready(function(){                       

       //Navigation Menu Slider
        $('#nav-expander').on('click',function(e){
          e.preventDefault();
          $('body').toggleClass('nav-expanded');
        });
        $('#nav-close').on('click',function(e){
          e.preventDefault();
          $('body').removeClass('nav-expanded');
        });

        // Initialize navgoco with default options
        $(".main-menu").navgoco({
            caret: '<span class="caret"></span>',
            accordion: false,
            openClass: 'open',
            save: true,
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 300,
                easing: 'swing'
            }
        });

      });


</script>
</head>
  <body>
</div>
    <div class='container'>
      <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
         <a href='/' class='navbar-brand pull-left'>Tap App</a>
          <h2 class="welcome">Loading...<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h2>
        </div>
        <ul class="nav navbar-nav nav-pills navbar-right">
          <!-- <li><button type="button" onclick="redirectToTimesheet();" class="btn" style="background-color: #676767" role="button">Past Timesheets</button></li>   -->
          <li><button type="button" id="nav-expander" class="btn" style="background-color: #676767" role="button">Calendar</button></li>    
          <li><div class="submit">
            <button onclick="submit()" class="btn" style="background-color: #ff6600">Submit</button>
          </div></li>
          <li class="logout">
             <button type="button" onclick="location.href = '/logout'" class="btn" style="background-color: #676767"  role="button">Log Out</a></button></li>
         </ul>
        </div>
      </div>
    </div>
  </div>
<nav>
   <div class="panel-body">
      <ul class="list-unstyled main-menu">
    <li class="text-right"><a href="#" id="nav-close">X</a></li>
    <div class = "container calendar_date">
      <p><input type="text" class="datepicker" readonly="readonly"></p>
    </div>
        <p>Google Calendar</p> 
        <table id = "event_table" class="table table-hover"></table>
    </div> 
</nav>
 
    </div>
</div>
    
    </div>
                       
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="content" hidden >

     
        <div class = "row">
          <div class = "submit_date">
            <p><input type="text" class="datepicker" readonly="readonly"></p>
          </div>
        </div>
        <div class="row">
            <table id="time_sheet_table"class="table table-responsive table-hover table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Project</th>
                  <th>Task</th>
                  <th>Billing Type</th>
                  <th>Description</th>
                  <th>Timer</th>
                  <th>Manual</th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td style = "width: 5%">
                      <div class="frame">
                        <span class="helper"></span><img src="images/icon.png" height="42" width="42"/>
                      </div>
                    </td>
                    <td class = "col-md-2">
                      <div class = "projects">
                        <select class = "selectpicker" data-size="false" data-width="200px" data-style="btn-info">
                          <option value =""selected>Project</option>
                        </select>
                      </div>
                    </td>
                    <td class = "col-md-2">
                      <div class = "tasks">
                        <select class = "selectpicker" data-size="false" data-width="200px" data-style="btn-info">
                         <option value =""selected disabled>Task</option>
                        </select>
                      </div>
                    </td>
                    <td class = "col-md-1">
                      <div class="payment">
                        <select class = "selectpicker" data-size="false" data-width="125px" data-style="btn-info">
                          <option value =""selected disabled>Billing Type</option>
                        </select>
                      </div>
                    </td>
                    <td class = "col-md-2">
                      <div class = "notes">
                        <textarea class = "form-control" style = "resize: none;"rows="4" cols="30" placeholder="Enter a description..."></textarea>
                      </div>
                    </td>
                    <td class = "col-md-1">
                      <div class="timer">
                        <button class="timer_button">Start</button><br>
                        <label>00:00:00</label>
                      </div>
                    </td>
                    <td class = "col-md-2">
                        <form name="input">
                          <input class="hours form-control" type="text" name="hours" placeholder="0" style = "width: 50px; display: inline; text-align: center;"> :
                          <input class="minutes form-control" type="text" name="minutes" placeholder="00" style = "width: 50px; display: inline; text-align: center;"> <br>
                          <label style = "padding-left:3%;">hours</label>
                          <label style = "padding-left:5%;">minutes</label>
                        </form>
                    <td class = "col-md-1">
                      <div class="deleteRow">
                        <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="Delete a project" aria-label="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr/ width = 100%>
              <div class="addRow" style = "margin-top:-18px;">
                <button onclick="addRow()" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add a project" aria-label="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
               </button>
              </div>    
            </div>
          </div>
       

    </div>
  </body>
</html>