<!DOCTYPE html>
<html lang="en">
<head>
  <title>CGTap</title>
  <link rel="stylesheet" href= "bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href='style/main.css' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  <script src="sweetalert-master/dist/sweetalert.min.js"></script>
  <script src="bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src='d3/d3.js'></script>
  <script src='d3/d3.min.js'></script>
  
  <script>
    var master_email = "<%= @email %>";
  </script>
  <script src="./script/Objects.js"></script>
  <script src="./script/Setup.js"></script>
  <script src="./script/UserInterface.js"></script>
  <script src="./script/Submit.js"></script>
  <script src="./script/Main.js"></script>
</head>
  <body>
    <div class='container'>
      <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container'>
         <a href='/' class='navbar-brand'>Tap App</a>
          <h2 class="welcome">Loading...<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h2>
          <div class=" navbar-nav navbar-right">
              <button type="button" onclick="redirectToTimesheet();" class="btn btn-info" role="button">Past Timesheets</a></button>
              <button type="button" onclick="location.href = '/today'" class="btn btn-info" role="button">Calendar</a></button>
              <button type="button" onclick="location.href = '/disconnect'" class="btn btn-info" role="button">Log Out</a></button>
          </div>
        </div>
  
   
      <div class = "container">
        <div class="btn-group" role="group">
          <div class="submit" style = "display:inline;">
            <button onclick="submit()" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
          </div>
          <div class="addRow" style = "display:inline;">
            <button onclick="addRow()" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="  Add a project" aria-label="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
           </button>
          </div>
        </div>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="content" hidden>
      <div class="container"> 
        <div class="row">
            <table id="time_sheet_table"class="table table-responsive table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Task</th>
                  <th>Billing</th>
                  <th>Description</th>
                  <th>Timer</th>
                  <th>Manual</th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class = "projects col-md-2">
                        <select class = "selectpicker" data-size="false" data-width="200px" data-style="btn-info">
                          <option value =""selected>Project</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class = "tasks col-md-2">
                        <select class = "selectpicker" data-size="false" data-width="200px" data-style="btn-info">
                         <option value =""selected>Task</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="payment col-md-2">
                        <select class = "selectpicker" data-size="false" data-width="125px" data-style="btn-info">
                          <option value =""selected>Billing</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class = "notes col-md-2">
                        <textarea rows="4" cols="30" placeholder="Enter a description..."></textarea>
                      </div>
                    </td>
                    <td>
                      <div class="timer col-md-2">
                        <button class="timer_button">Start</button>
                        <label>00:00:00</label>
                      </div>
                    </td>
                    <td>
                        <form name="input col-md-2">
                          Hours: <input class="hours" type="text" name="hours" placeholder="0">
                         <br>
                          Minutes: <input class="minutes" type="text" name="minutes" placeholder="0">
                        </form>
                          <br>
                    <td>
                      <div class="deleteRow col-md-2">
                        <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="Delete a project" aria-label="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>   
            </div>
         </div>
      </div>
  </body>
</html>