<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Log Out of Tap Time</title>

  <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='style/main.css' rel='stylesheet'>
  <!-- <link rel="stylesheet" type="text/css" href="editable-table.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- <script src="editable-table.js"></script> -->
  <!-- <script src="jquery.min.js"></script> -->
  <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>

 </head>
 <body>
	 <div class='container'>
	  <div class='navbar navbar-default navbar-fixed-top'>
	    <div class='container'>
	     <a href='/' class='navbar-brand'>Tap App</a>

	      <h2 class="welcome">Bye!</h2>
	      <br>
	    </div>
	  </div>
	</div>
	<br>
    <br>
    <br>
  To fully log out, you want to go to gmail and log and and then control group and log out.
 </body>
</html>