<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Log Out of Tap Time</title>

  <link rel="stylesheet" href= "bootstrap-select/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href='style/main.css' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
  <script src="sweetalert-master/dist/sweetalert.min.js"></script>
  <script src="bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src='d3/d3.js'></script>
  <script src='d3/d3.min.js'></script>
  <script src="./script/Objects.js"></script>
  <script src="./script/Setup.js"></script>
  <script src="./script/UserInterface.js"></script>
  <script src="./script/Submit.js"></script>

 </head>
 <body>
  <div class='container'>
    <div class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
       <a href='/' class='navbar-brand'>Tap App</a>
        <h2 class="welcome">Bye!</h2>
        <div class=" navbar-nav navbar-right">
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div style = "text-align: center;">
    <h4>Please also log out of Okta and Gmail to log out successfully from Tap Time. </h4>
    <br>
    <button target="_blank" type="button" onclick="window.open('https://controlgroup.okta.com')" class="btn" style="background-color: #febc26; display: inline-block;"  role="button">Okta</a></button>
    <button target="_blank" type="button" onclick="window.open('https://mail.google.com')" class="btn" style="background-color: #febc26; display: inline-block;"  role="button">Gmail</a></button>
    <br>
  </div>
 </body>
 <script>
 swal({
    title: "You have successfully logged out of Tap Time!",
    text: "However, this has not logged you out of Okta and Gmail. To fully log out, you must also log out of Okta and Gmail.",
    type: "success"
  });
 </script>
</html>